body{
	background-color: #000;
}

.main-title{
	color: #fff;
	text-align: center;
}

.input-container{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.dev-info{
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 14px;
  text-align: right;
  position: relative;
  top: 300px;
  right: 10px;
  color: #fff;
}

#website-link{
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}